*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    min-width: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: black;
    color: white;
    font-family: fantasy;
}

.headerContainer
{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: left;
}

#headerLogo
{
    display: flex;
    flex-direction: row;
    flex: 4;
    margin-left: 1em;
    align-items: center;
    justify-content: left;
    font-family: fantasy;
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.headerContainerOptions
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: fantasy;
    color: white;
}

#headerContainerOptions2{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: 2px white solid;
    border-radius: 15px;
    text-decoration: none;
    font-family: fantasy;
}

main{
    display: flex;
    flex: 7;
    flex-direction: row;
    align-items: center;
    color: black;
    font-family: fantasy;
    background-color: white;
}

#fototot{
    margin-left: 25em;
    height: 500px;
}

#text0{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img1{
     display: flex;
     flex: 6;
     align-items: center;
     justify-content: center;
}

#text1{
    display: flex;
    flex: 4;
    margin-right: 7em;
}

footer{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    font-family: fantasy;
    background-color: black;
}

div#footercontainer ul li{
    margin-top: 2px;
    margin-bottom: px;
}

.linkfo{
    text-decoration: none;
    color: white;
    font-family: fantasy;
    margin-left: 3em;
    font-size: 15px;
}

#copi{
    font-size: 10px;
    margin-left: 5em;
    padding-top: 4px;
}

hr{
    margin-left: 2em;
    margin-right: 2em;
}

#textPrincipal{
    display: flex;
    flex-direction: column;
    flex: 4;
    margin-right: 2em;
}

#textPrincipal h2, p{
    display: flex;
 
}

#textPrincipal h2{
    
}

#textPrincipal p{

}